.background {
  position: absolute;
  z-index: 0;
  background-attachment: fixed;
  background-size: cover;
}

.main {
  background: center no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}